<div class="col">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title><%= Product.name %></title>
        <rect width="100%" height="100%" fill="#55595c"></rect>
        <text x="50%" y="50%" fill="#eceeef" dy=".3em"> <%= Product.name.charAt(0) %></text></svg>
      <div class="card-body">
        <p class="card-title"><%= Product.name %></p>
        <p class="card-text"><%= Product.description %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" onClick="{alert('add to basket TODO action')}">Add to cart</button>
            <a type="button" class="button btn btn-sm btn-outline-secondary" href="/store/<%= Product._id %>">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
